Flask==1.1.2
flask-restful==0.3.8
sentry-sdk==0.14.4
marshmallow==3.9.0
Flask-SQLAlchemy==2.4.4
Flask-Migrate==2.5.3
marshmallow-sqlalchemy==0.24.0
psycopg2-binary==2.8.6
redis==3.5.3
Flask-Caching==1.9.0
Authlib==0.15.2
blinker==1.4
requests==2.25.0
gunicorn==20.0.4
flask-jwt-extended==3.25.0
pytz==2020.4